name: Build & Push Docker Image

on:
  push:
    branches:
      - main
      - build

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    # WICHTIG: GITHUB_TOKEN bekommt hier Paket-Rechte
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/bonkel-afk/go-kanban:${{ github.ref_name }}
